  <!-- <div class="container">
    <h2></h2>
  </div> 
</div> 
 -->
<div class="container c1" style="margin-top:0px;">
<marquee><h4 style="color:#02e2ff;margin-top:30px;margin-bottom: 30px;text-shadow: 1px 1px 1px black;font-size: 25px;">Note :-Admission fee Rs 2000 ( non- refundable)</h4></marquee>
  <h2  style="color:#fff;opacity: 0.6; text-align: center;">FEE STRUCTURE</h2><br>
  <div>
    <table class="table table-responsive" >
      <thead>
        <tr>
          <th>Classes</th>
          <th>Monthely Fee</th>
          <th>Yearly Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nursery</td>
          <td>1200</td>
          <td>14400</td>
        </tr>      
        <tr>
          <td>KG I</td>
          <td>1200</td>
          <td>14400</td>
        </tr>
        <tr>
          <td>KG II</td>
          <td>1200</td>
          <td>14400</td>
        </tr>
        <tr>
          <td>First Class</td>
          <td>1500</td>
          <td>18000</td>
        </tr>
        <tr>
          <td>Second Class</td>
          <td>1500</td>
          <td>18000</td>
          </tr>
        <tr>
          <td>Third Class</td>
          <td>1800</td>
          <td>21600</td>
        </tr>
        <tr>
          <td>Fourth Class</td>
          <td>2000</td>
          <td>24000</td>
        </tr>
        <tr>
          <td>Fifth class</td>
          <td>2000</td>
          <td>24000</td>
        </tr>
      </tbody>
    </table>

  <div class="clearfix"></div>
  <marquee><h4 style="color:#02e2ff;margin-top:30px;margin-bottom: 30px;text-shadow: 1px 1px 1px black;font-size: 25px;">Note :-Admission fee Rs 2000 ( non- refundable)</h4></marquee>
     <table class="table table-responsive" style="max-width: 50%;" >
      <thead>
        <tr>
          <th>INSTALLMENT</th>
          <th>LAST DATE</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>I</td>
          <td>1-15 April</td>   
        </tr>      
        <tr>
          <td>II</td>
          <td>1-15 September</td>
        </tr>
        <tr>
          <td>III</td>
          <td>1-15 December</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-left: 40px;color: #999;">
    <marquee><h4 style="color:#02e2ff;margin-top:30px;margin-bottom: 30px;text-shadow: 1px 1px 1px black;font-size: 25px;">NOTE:-
In case of monthly fees/ bus fee, then fees must be paid before 10 th of every month.Late fees Rs 5 per day after the last date.</h4></marquee>
</div>
<div class="clearfix" style="margin-bottom: 50px;"></div>
  </div>
</div>
