<div class="container" style="margin-left: -10px;" >
  <div class="row" id="box-search">
    <div class="thumbnail text-center">
      <%= image_tag "bg9.jpg",class: "img-responsive", style: "margin-left:80px; width:100%;" %>
      <div class="caption" style="margin-top: -150px;margin-left: 50px;">
        <h2 style="color: #900000;">General Rules</h2>
        <h4 style="margin-top: 30px;">DISCIPLINE AND CONDUCT</h4>
        <p style="color: #000;" >1. We at SOL, believe that self-discipline is the best policy Everyone in me campus Is <br>expected to adhere to certain norms of discipline and conduct Some of them are boring<br> stated here for reference..</p>
        <p style="color: #000;" >2. Conversing in English is necessary at all times in the school campus, be it<br>the classroom, on the playground and on the bus.</p>
        <p style="color: #000;" >3. Use Of soft language is important to maintain the proper decorum of the school.<br>Shouting, screaming, whistling, use of foul language is not allowed on the school<br>campus.</p>
        <p style="color: #000;" >4. Students are supposed to come to school in proper uniform on all the days.</p>
        <p style="color: #000;" >4. Students are supposed to come to school in proper uniform on all the days.</p>
      </div>
    </div>
  </div>
</div>
<style type="text/css">

  .thumbnail {
    position: relative;
  }
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px)
{
  .img-responsive
  {
    margin-left: -80px;
  }
}
</style>