    <div class="agileits-banner" id="bg">
   <div class="banner-w3text w3layouts">
        <div class="container">
          <h2>LEARN KIDS</h2>
          <div class="w3lsmore">
            <a class="w3-agilebtn" href="about.html"><span>More About</span></a>
          </div> 
        </div> 
      </div> 
    </div>
  </div>
  <!-- about -->
  <div class="about">
    <div class="container">
      <div class="about-agileinfo">
        <h3 class="w3ls-title">Welcome</h3>
        <p>Lorem Ipsum was popularised In sit amet sapien eros Integer dolore magna aliqua Temporibus autem quibusdam et aut officiis debitis aut
          rerum necessitatibus saepe eveniet ut et voluptates repudiandae Integer vitae ligula sed lectus consectetur pellentesque blandit nec orci. Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </div>  
    </div>  
  </div>
  <!-- //about -->
  <!-- welcome --> 
  <div class="welcome agileits">  
    <div class="col-md-8 col-sm-8 w3welcome-img" id="bg1"> 
      
    </div>
    <div class="col-md-4 col-sm-4 w3welcome-right"> 
      <div class="w3welcome-text"> 
        <h5 class="w3l-subtitle">- Our Mission</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante.</p>
      </div> 
      <%= image_tag "img2.jpg", class: "img-responsive",  alt: "" %>
    </div> 
    <div class="clearfix"> </div> 
  </div> 
  <!-- //welcome --> 
  <!-- services -->     
  <div class="services">   
    <div class="container">
      <h3 class="w3ls-title">Age Eligibility</h3>  
      <h4  class="w3ls-title">As on 1st April of the academic session for which admission is sought:</h4> 
      <div class="services-agileinfo">  
        <div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids"> 
          <div class="services-w3text" id="bg2"> 
            <i class="fa fa-cutlery" aria-hidden="true"></i> 
            <h5>Nursery – 2 1/2 years</h5>  
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids"> 
          <div class="services-w3text srvs-w3text2" id="bg3"> 
            <i class="fa fa-map" aria-hidden="true"></i> 
            <h5>L.K.G – 3 1/2 years</h5> 
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids"> 
          <div class="services-w3text srvs-w3text3" id="bg4"> 
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <h5>U.K.G – 4 1/2 years</h5> 
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids"> 
          <div class="services-w3text srvs-w3text4" id="bg5"> 
            <i class="fa fa-truck" aria-hidden="true"></i>
            <h5>Class I – 5 ½ years</h5> 
          </div>
        </div>
        <div class="clearfix"> </div> 
      </div>
    </div>
  </div>
  <!-- //services -->    
  <!-- news -->
  <div class="services news"  id="bg1">
    <div class="container">   
      <h3 class="w3ls-title">News & Events</h3>  
      <div class="news-agileinfo">
        <div class="col-sm-4 news-w3lgrids">
          <div class="news-gridtext">
            <div class="news-w3img">
              <a href="single.html">
              <%= image_tag "img3.jpg", class: "img-responsive zoom-img", alt: "" %></a>
            </div>
            <div class="news-w3imgtext">
              <h5 class="w3-agilep">Nov 12, 2016 </h5>
              <h4><a href="single.html">Fringilla</a></h4> 
              <p>In dignissim nunc curabitur eleifend orci eu sapien imperdiet tempus.</p>
              <a class="w3-agilebtn" href="single.html"><span>Read More</span></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 news-w3lgrids">
          <div class="news-gridtext">
            <div class="news-w3img">
              <a href="single.html"><%= image_tag "img4.jpg", class: "img-responsive zoom-img", alt: "" %></a>
            </div>
            <div class="news-w3imgtext">
              <h5 class="w3-agilep">Nov 4, 2016</h5>
              <h4><a href="single.html">Cfringilla</a></h4> 
              <p>Curabitur eleifend orci eu sapien imperdiet tempus dignissim nunc.</p>
              <a class="w3-agilebtn" href="single.html"><span>Read More</span></a> 
            </div>
          </div>
        </div>
        <div class="col-sm-4 news-w3lgrids">
          <div class="news-gridtext">
            <div class="news-w3img">
              <a href="single.html">
              <%= image_tag "img5.jpg", class: "img-responsive zoom-img", alt: "" %></a>
            </div>
            <div class="news-w3imgtext">
              <h5 class="w3-agilep">Sept 21, 2016</h5>
              <h4><a href="single.html">Sectetur</a></h4> 
              <p>Morbi a vehicula risus, vitae interdum orci Praesent acelei turpis.</p> 
              <a class="w3-agilebtn" href="single.html"><span>Read More</span></a>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //news --> 
  <!-- features -->
  <div class="features about">
    <div class="container">   
      <div class="wthree-features-row">
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>CONTACT</h4>
            <p>+01 111 222 3333</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>LOCATION</h4>
            <p>Broome St, New York, NY 10002</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 features-w3grid">
          <div class="col-xs-3 features-w3lleft">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9 features-w3lright"> 
            <h4>EMAIL</h4>
            <p><a href="mailto:info@example.com"> mail@example.com</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //features -->

