<div class="container c2" >
  <div class="row" id="box-search">
    <div class="thumbnail text-center">
        <%= image_tag "bg8.jpeg" ,class: "img-responsive" %>
        <div class="caption" >
        <h2>OUR VISION</h2>
            <p>It takes pride in providing a child-centric, innovative and global standard of education.<br>The school encourages freedom of expression and exploration, the finest grooming for <br>the future cosmos,thus empowering the child towards learning by doing.</p>
        </div>
    </div>
</div>
</div>
<style type="text/css">
 
</style>