<div class="container" style="margin-left: -10px;" >
  <div class="row" id="box-search">
    <div class="thumbnail text-center">
        <%= image_tag "bg8.jpeg",style: "margin-left:80px;" %>
        <div class="caption">
        <h2 style="color: #b549d6;">OUR VISION</h2>
            <p >It takes pride in providing a child-centric, innovative and global standard of education.<br>The school encourages freedom of expression and exploration, the finest grooming for <br>the future cosmos,thus empowering the child towards learning by doing.</p>
        </div>
    </div>
</div>
</div>
<style type="text/css">
  .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
</style>