  <!-- footer -->
  <div class="footer w3layouts">
    <div class="container">
      <div class="footer-agileinfo">
        <div class="col-md-3 col-sm-6 footer-grid">
          <h3>Useful Info</h3>
          <p>Lorem Ipsum was popularised In sit amet sapien eros Integer dolore magna aliqua Temporibus autem quibusdam et aut officiis debitis aut rerum necess itatibus saepe.</p> 
        </div> 
        <div class="col-md-3 col-sm-6 footer-grid footer-tags">
          <h3>Navigation</h3>
          <ul>
            <li><a href="index.html"><i class="fa fa-angle-right"></i> Home</a></li>
            <li><a href="about.html"><i class="fa fa-angle-right"></i> About</a></li> 
            <li><a href="gallery.html"><i class="fa fa-angle-right"></i> Gallery</a></li>
            <li><a href="contact.html"><i class="fa fa-angle-right"></i> Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 footer-grid footer-review">
          <h3>Newsletter</h3>
          <p>Maecenas sodales tortor ac ligula ultrices dictum et quis urna neque eget.</p> 
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Your Email" required="">
            <input type="submit" value="Subscribe"> 
            <div class="clearfix"> </div>
          </form>  
        </div>
        <div class="col-md-2 col-sm-6 footer-grid w3social">
          <h3>Media</h3>
          <ul>
            <li><a href="#"><i class="fa fa-google-plus"></i>Google-plus</a></li>
            <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div> 
    </div>
  </div>
  <div class="copy-right wthree"> 
    <div class="container">
      <p>© 2017 Learn Kids. All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
    </div>
  </div>  
  <!-- //footer -->